.pageGrid-container {
    display: grid;
}
    
.pageGrid-item {
    
}
    
.optionsGrid-container {
    display:grid;
}
    
.optionsGrid-item {
    
}
    
.charClass {
    width: 25%;
}

#charClassCleric {
        grid-column: 1;
}
    
#charClassFighter {
        grid-column: 2;
}

#charClassRogue {
        grid-column: 3;
}
    
#portraitContainer {
        grid-column: 1;
}
    
#specsContainer {
        grid-column: 2 / span 2;
}

.header {
        max-height: 100%;
}