.pageGrid-container {
    display: grid;
    }
    
    .pageGrid-item {
    
    }
    
    .optionsGrid-container {
    display:grid;
    }
    
    .optionsGrid-item {
    
    }
    
    .charClass {
    
    }
    
    #portraitContainer {
        grid-column: 1;
        grid-row: 1;
    }
    
    #specsContainer {
        grid-column: 2 / 2;
        grid-row: 1;
    }