mixin chooseRace

    #chooseRaceTab.tab
        #charRaceHeader.optionsHeader
            h1 Character Race
        #charRaceHuman.charRace
            img(src='img/placeholder.png')
            h1 Human
        #charRaceElf.charRace
            img(src='img/placeholder.png')
            h1 Elf
        #charRaceDwarf.charRace
            img(src='img/placeholder.png')
            h1 Dwarf
        #charRaceHalfling.charRace
            img(src='img/placeholder.png')
            h1 Halfling
        button#btnUndoRace.btnUndo(type='button') Back
        button#btnSubmitRace.btnSubmit(type='button') Next

    script(src='/js/chooseRace.js', type="text/javascript")