mixin chooseClass
    
    #chooseClassTab.tab
        #charClassHeader.optionsHeader
            h1 Character Class
        #charClassFighter.charClass.red
            img(src='img/placeholder.png')
            h1.red Fighter
        #charClassRogue.charClass.purple
            img(src='img/placeholder.png')
            h1.purple Rogue
        #charClassWizard.charClass.blue
            img(src='img/placeholder.png')
            h1.blue Wizard
        #charClassCleric.charClass.gold
            img(src='img/placeholder.png')
            h1.gold Cleric

        script(src='/js/chooseClass.js', type="text/javascript")