extends ./layout.pug

block options
    form#charClassForm.optionsForm(action='submitCharClass', method='post', enctype='application/x-www-form-urlencoded')
        #charClassHeader.optionsHeader
            h1 Character Class
        #charClassFighter.charClass
            img(src='img/placeholder.png')
            h1 Fighter
        #charClassCleric.charClass
            img(src='img/placeholder.png')
            h1 Cleric
        #charClassRogue.charClass
            img(src='img/placeholder.png')
            h1 Rogue
        #charClassWizard.charClass
            img(src='img/placeholder.png')
            h1 Wizard
        input#charClassBack.optionsBack(name='back ', value='Back ', type='button')
        input#charClassSubmit.optionsNext(name='next ', value='Next ', type='submit')