mixin chooseClass
    
    #chooseClassTab.tab
        #charClassHeader.optionsHeader
            h1 Character Class
        #charClassFighter.charClass
            img(src='img/placeholder.png')
            h1 Fighter
        #charClassCleric.charClass
            img(src='img/placeholder.png')
            h1 Cleric
        #charClassRogue.charClass
            img(src='img/placeholder.png')
            h1 Rogue
        #charClassWizard.charClass
            img(src='img/placeholder.png')
            h1 Wizard
        button#btnUndoClass.btnUndo(type='button') Back
        button#btnSubmitClass.btnSubmit(type='button') Next

        script(src='/js/chooseClass.js', type="text/javascript")