mixin chooseSkills

    .tab
        input(type='radio', name="skill", value="1")
        |Skill 1
        button#btnUndoSkills(type='button') Back
        button#btnSubmitSkills(type='button') Next
    script(src='/js/chooseSkills.js', type="text/javascript")