mixin chooseProfs

    #chooseProfsTab.tab
        input(type='radio', name="skill", value="1")
        |Skill 1
        button#btnUndoProfs.btnUndo(type='button') Back
        button#btnSubmitProfs.btnSubmit(type='button') Next
    script(src='/js/chooseProfs.js', type="text/javascript")