mixin chooseRace

    #chooseRaceTab.tab
        #charRaceHeader.optionsHeader
            h1 Character Race
        #charRaceHuman.charRace.blue
            img(src='img/human-ear-blue.png')
            h1.blue Human
        .spacer
        #charRaceElf.charRace.purple
            img(src='img/elf-ear-purple.png')
            h1.purple Elf
        .spacer
        #charRaceDwarf.charRace.orange
            img(src='img/beard-orange.png')
            h1.orange Dwarf
        .spacer
        #charRaceDragonborn.charRace.red
            img(src='img/bat-wing-red.png')
            h1.red Dragonborn
        

    script(src='/js/chooseRace.js', type="text/javascript")