//- DO NOT CHANGE WITHOUT CHANGING innerHTML IN CLEARFINAL FUNCTION

mixin finalSummary
    #finalPageContainer
        #finalHeader
            h1#finalName Character Name:
            h2#finalSubtitle Race Class
        #finalSpecs
            #finalAbs.finalBox
                #finalStr.finalAb
                    h3.gold(style='margin-bottom: 0;') Strength:
                #finalDex.finalAb
                    h3.gold(style='margin-bottom: 0;') Dexterity:
                #finalCon.finalAb
                    h3.gold(style='margin-bottom: 0;') Constitution:
                #finalInt.finalAb
                    h3.gold(style='margin-bottom: 0;') Intelligence:
                #finalWis.finalAb
                    h3.gold(style='margin-bottom: 0;') Wisdom:
                #finalCha.finalAb
                    h3.gold(style='margin-bottom: 0;') Charisma:
            #finalSaves.finalBox
                h3.gold Saving Throws:
            #finalSkills.finalBox
                h3.gold Skills:
        #finalProfs.finalBox
            h3.gold Proficiencies:

        #finalNums
            #finalAC.finalBox
                h3.gold Armor Class:
            #finalInit.finalBox
                h3.gold 
                    |Initiative:
                    br
                    br
            #finalSpeed.finalBox
                h3.gold 
                    |Speed:
                    br
                    br
            #finalHP.finalBox
                h3.gold 
                    |Hit
                    br 
                    |Points
            #finalHD.finalBox
                h3.gold
                    |Hit
                    br 
                    |Dice:
            #finalProfBonus.finalBox
                h3.gold Proficiency Bonus:
        #finalRaceTraits.finalBox
            h3.gold Racial Traits and Languages:
        #finalFooter
            button#btnFinalBack(type='button') Back
    script(src='/js/finalSummary.js', type="text/javascript")