mixin header
    #headerContainer
        #portraitContainer.header
            img(src='img/placeholder.png')
            #charName Name
        #specsContainer.header
            #specsRace 
            #specsClass
            #specsAbilities
            #specsProfs
                p 
                    .prof Prof 1
                    .prof Prof 2
                    .prof Prof 3
                    .prof Prof 4
