mixin header
    #headerContainer
        #portraitContainer.header
            img(src='img/placeholder.png')
            h1#charName Name
        #specsContainer.header
            #specsClass
                p 
                    strong Class:
            #specsRace 
                p
                    strong Race:
            #specs 