doctype html
html
  head
    meta(charset='utf-8')
    title D&D 3.5e Character Creator
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='/css/styles.css')
    script(src='/js/index.js', type='text/javascript', defer='')
    style.
      @import url('https://fonts.googleapis.com/css?family=Calligraffitti|Cinzel|Merienda|Permanent+Marker');
    link(href='https://fonts.googleapis.com/css?family=Calligraffitti|Nothing+You+Could+Do|Permanent+Marker|Shadows+Into+Light', rel='stylesheet')
    include header-mixin
    include description-mixin
  body
    +header
    block options
    +description
    
