img {
        max-width: 100%;
}

#headerContainer {
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 90% 10%;
}

#portraitContainer {
        grid-column: 1;
        grid-row: 1;
        background-color: brown;
}

#charName {
        grid-column: 1;
        grid-row: 2;
        font-size: 1.5em;
        font-family: 'Merienda', cursive;
        padding: 0.5em;
}
#specsContainer {
        grid-column: 2;
        grid-row: 1 / span 2;
        display:grid;
        grid: repeat(4,3em) / repeat(4,1fr);
        background-color: lightskyblue;
}

#charName {
        text-align: center;
}
.tab {
        grid-column: 1 / span 4;
        grid-row: 2;
        display:none;
        grid: 5em 32em 3em / repeat(4,1fr);
        background-color:grey;
}
.optionsHeader {
        grid-column: 1 / span 4;
        grid-row: 1;
        background-color: green;
        text-align: center;
}
.optionsFooter {
        grid-column: 1 / span 4;
        grid-row: 3;
}

.charClass, .charRace {
        margin: 1em;
        text-align: center;
}
#charClassCleric {
        font-family: 'Cinzel', serif;
        background-color: yellow;
}
    
#charClassFighter {
        font-family: 'Permanent Marker', cursive;
        background-color: red;
}

#charClassRogue {
        font-family: 'Merienda', cursive;
        background-color: purple;
}
#charClassWizard {
        font-family: 'Calligraffitti', cursive;
        background-color: blue;
}

#descriptionBox {
        grid-column: 1 / span 4;
        grid-row: 3;
        display: grid;
        background-color: orange;
}

input[type="button"] {
        text-align: center;
        vertical-align: middle;
        margin: 1em;
}

.btnUndo {
        grid-column: 1;
}

.btnSubmit {
        grid-column: 4;
}

.hidden {
        display: none;
}

.visibleGrid {
        display: grid;
}

.selected {
        border-style: solid;
        border-color: #19ff2d;
        border-width: 10px;
}

#specsAbilities {
        grid-column: 1;
        grid-row: 1 / span 4;
        display: block;
        font-size: 1.5em;
        margin: 2%;
}

#specsAbilities div {
        padding: 0.1em;
}

#specsRace {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.5em;
}

#specsClass {
        grid-column: 2;
        grid-row: 2;
        font-size: 1.5em;
}

#specsProfs {
        grid-column: 3;
        grid-row: 1 / span 3;
}