img {
        max-width: 100%;
        max-height: auto;
}

#headerContainer {
        display: grid;
        grid-template-columns: 25% 75%;
}

#portraitContainer {
        grid-column: 1;
        background-color: brown;
}
    
#specsContainer {
        grid-column: 2;
        background-color: blue;
}

#charName {
        text-align: center;
}
.tab {
        grid-column: 1 / span 4;
        grid-row: 2;
        display:none;
        grid: 5em 32em 3em / repeat(4,1fr);
        background-color:grey;
}
.optionsHeader {
        grid-column: 1 / span 4;
        grid-row: 1;
        background-color: green;
        text-align: center;
}
.optionsFooter {
        grid-column: 1 / span 4;
        grid-row: 3;
}

.charClass, .charRace {
        margin: 1em;
        text-align: center;
}
#charClassCleric {
        font-family: 'Cinzel', serif;
        background-color: yellow;
}
    
#charClassFighter {
        font-family: 'Permanent Marker', cursive;
        background-color: red;
}

#charClassRogue {
        font-family: 'Merienda', cursive;
        background-color: purple;
}
#charClassWizard {
        font-family: 'Calligraffitti', cursive;
        background-color: blue;
}

#btnBack {
        grid-column: 1;
        float:left;
}

#btnNxt {
        grid-column: 4;
        float:right;
}

#descriptionBox {
        grid-column: 1 / span 4;
        grid-row: 3;
        display: grid;
        background-color: orange;
}

input[type="button"],input[type="submit"] {
        text-align: center;
        vertical-align: middle;
        margin: 1em;
}

.hidden {
        display: none;
}

.selected {
        border-style: solid;
        border-color: #19ff2d;
        border-width: 10px;
}